@model IEnumerable<ConciliadorFinanceiro.Base.Domain.Entities.LancamentoFinanceiro>

@{
    ViewData["Title"] = "Index";
}

<h1>Lançamentos financeiros</h1>

<p>
    <a asp-action="Cadastrar" class="btn btn-primary">Cadastrar lançamento</a>
</p>

@if (TempData["Erro"] != null)
{
<div class="alert alert-danger" role="alert">
    Ocorreu um erro durante a execução de sua solicitação: - @TempData["Erro"]
</div>

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayName("Ações")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraLancamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Enum.GetName(typeof(ConciliadorFinanceiro.Base.Domain.Enums.TipoLancamento), item.Tipo)
                </td>
                <td>
                    @Enum.GetName(typeof(ConciliadorFinanceiro.Base.Domain.Enums.StatusLancamento), item.Status)
                </td>
                <td>

                    @Html.ActionLink("Detalhar", "Detalhar", new { id = item.Id })

                    @if (item.Status != (int)ConciliadorFinanceiro.Base.Domain.Enums.StatusLancamento.Conciliado)
                    {
                        <text> | </text> @Html.ActionLink("Editar", "Editar", new { id = item.Id })
                        <text> | </text> @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
